## Week 4 Exercise 1

In [1]:
from collections import Counter

In [2]:
test = 'the wheels on the bus go round and round'
Counter(test.split()).most_common()

[('round', 2),
 ('the', 2),
 ('and', 1),
 ('on', 1),
 ('bus', 1),
 ('go', 1),
 ('wheels', 1)]

# Documents Similarity

In [3]:
import graphlab as gl

In [4]:
people = gl.SFrame('Data/people_wiki.gl/')
people

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1473688769.log

This non-commercial license of GraphLab Create for academic use is assigned to huangchengyu16@gmail.com and will expire on September 03, 2017.

Columns:
	URI	str
	name	str
	text	str

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| digby morrell born 10 octo... |
| alfred j lewy aka sandy le... |
| harpdog brown is a singer ... |
| franz rottensteiner born i... |
| henry krvits born 30 decem... |
| sam henderson born october... |
| aaron lacrate is an americ... |
| trevor ferguson aka john f... |
| grant nelson born 27 april... |
| cathy caruth born 1955 is ... |
+-------------------------------+
[59071 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

## 1. Explore the data set

In [5]:
## take a look at obama
obama = people[people['name']=='Barack Obama']
print obama,'\n'
print obama['text']

+-------------------------------+--------------+-------------------------------+
|              URI              |     name     |              text             |
+-------------------------------+--------------+-------------------------------+
| <http://dbpedia.org/resour... | Barack Obama | barack hussein obama ii br... |
+-------------------------------+--------------+-------------------------------+
[? rows x 3 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

['barack hussein obama ii brk husen bm born august 4 1961 is the 44th and current president of the united states and the first african american to hold the office born in honolulu hawaii obama is a graduate of columbia university and harvard law school where he served as president of the harvard law review he was a community organizer in chicago before earning his law degree he worked as a civil rights attorney and taught constitutional law at the university of chicago law school from 1992 to 2004 he served three terms representing the 13th district in the illinois senate from 1997 to 2004 running unsuccessfully for the united states house of representatives in 2000in 2004 obama received national attention during his campaign to represent illinois in the united states senate with his victory in the march democratic party primary his keynote address at the democratic national convention in july and his election to the senate in november he began his presidential campaign in 2007 and after a close primary campaign against hillary rodham clinton in 2008 he won sufficient delegates in the democratic party primaries to receive the presidential nomination he then defeated republican nominee john mccain in the general election and was inaugurated as president on january 20 2009 nine months after his election obama was named the 2009 nobel peace prize laureateduring his first two years in office obama signed into law economic stimulus legislation in response to the great recession in the form of the american recovery and reinvestment act of 2009 and the tax relief unemployment insurance reauthorization and job creation act of 2010 other major domestic initiatives in his first term included the patient protection and affordable care act often referred to as obamacare the doddfrank wall street reform and consumer protection act and the dont ask dont tell repeal act of 2010 in foreign policy obama ended us military involvement in the iraq war increased us troop levels in afghanistan signed the new start arms control treaty with russia ordered us military involvement in libya and ordered the military operation that resulted in the death of osama bin laden in january 2011 the republicans regained control of the house of representatives as the democratic party lost a total of 63 seats and after a lengthy debate over federal spending and whether or not to raise the nations debt limit obama signed the budget control act of 2011 and the american taxpayer relief act of 2012obama was reelected president in november 2012 defeating republican nominee mitt romney and was sworn in for a second term on january 20 2013 during his second term obama has promoted domestic policies related to gun control in response to the sandy hook elementary school shooting and has called for full equality for lgbt americans while his administration has filed briefs which urged the supreme court to strike down the defense of marriage act of 1996 and californias proposition 8 as unconstitutional in foreign policy obama ordered us military involvement in iraq in response to gains made by the islamic state in iraq after the 2011 withdrawal from iraq continued the process of ending us combat operations in afghanistan and has sought to normalize us relations with cuba', ... ]

In [6]:
import operator
## create word count
obama['word_count']= gl.text_analytics.count_words(obama['text'])

## 2. How to sort word count

In [7]:
# one way to sort 
## sort obama word count by value 
word_freq = sorted(obama['word_count'][0].items(), key=operator.itemgetter(1), reverse=True)
word_freq

[('the', 40),
 ('in', 30),
 ('and', 21),
 ('of', 18),
 ('to', 14),
 ('his', 11),
 ('obama', 9),
 ('act', 8),
 ('he', 7),
 ('a', 7),
 ('law', 6),
 ('us', 6),
 ('as', 6),
 ('was', 5),
 ('has', 4),
 ('for', 4),
 ('military', 4),
 ('iraq', 4),
 ('control', 4),
 ('after', 4),
 ('president', 4),
 ('democratic', 4),
 ('2011', 3),
 ('term', 3),
 ('january', 3),
 ('involvement', 3),
 ('response', 3),
 ('school', 3),
 ('senate', 3),
 ('election', 3),
 ('signed', 3),
 ('american', 3),
 ('first', 3),
 ('campaign', 3),
 ('from', 3),
 ('with', 3),
 ('ordered', 3),
 ('states', 3),
 ('united', 3),
 ('party', 3),
 ('2009', 3),
 ('2004', 3),
 ('office', 2),
 ('is', 2),
 ('domestic', 2),
 ('20', 2),
 ('policy', 2),
 ('2010', 2),
 ('during', 2),
 ('presidential', 2),
 ('university', 2),
 ('republican', 2),
 ('house', 2),
 ('national', 2),
 ('born', 2),
 ('second', 2),
 ('afghanistan', 2),
 ('representatives', 2),
 ('protection', 2),
 ('november', 2),
 ('on', 2),
 ('foreign', 2),
 ('harvard', 2),
 ('primary', 2),
 ('dont', 2),
 ('served', 2),
 ('at', 2),
 ('nominee', 2),
 ('illinois', 2),
 ('chicago', 2),
 ('relief', 2),
 ('operations', 1),
 ('represent', 1),
 ('unemployment', 1),
 ('doddfrank', 1),
 ('over', 1),
 ('unconstitutional', 1),
 ('named', 1),
 ('ending', 1),
 ('ended', 1),
 ('proposition', 1),
 ('seats', 1),
 ('graduate', 1),
 ('worked', 1),
 ('before', 1),
 ('death', 1),
 ('taxpayer', 1),
 ('inaugurated', 1),
 ('obamacare', 1),
 ('civil', 1),
 ('mccain', 1),
 ('4', 1),
 ('8', 1),
 ('2013', 1),
 ('2012', 1),
 ('bin', 1),
 ('then', 1),
 ('march', 1),
 ('gains', 1),
 ('cuba', 1),
 ('californias', 1),
 ('1992', 1),
 ('new', 1),
 ('not', 1),
 ('years', 1),
 ('continued', 1),
 ('husen', 1),
 ('osama', 1),
 ('equality', 1),
 ('prize', 1),
 ('lost', 1),
 ('stimulus', 1),
 ('rights', 1),
 ('gun', 1),
 ('rodham', 1),
 ('troop', 1),
 ('withdrawal', 1),
 ('where', 1),
 ('referred', 1),
 ('affordable', 1),
 ('attorney', 1),
 ('creation', 1),
 ('related', 1),
 ('hawaii', 1),
 ('street', 1),
 ('close', 1),
 ('operation', 1),
 ('insurance', 1),
 ('sandy', 1),
 ('initiatives', 1),
 ('reform', 1),
 ('federal', 1),
 ('review', 1),
 ('debate', 1),
 ('current', 1),
 ('state', 1),
 ('won', 1),
 ('marriage', 1),
 ('victory', 1),
 ('unsuccessfully', 1),
 ('reauthorization', 1),
 ('keynote', 1),
 ('full', 1),
 ('patient', 1),
 ('august', 1),
 ('degree', 1),
 ('44th', 1),
 ('bm', 1),
 ('mitt', 1),
 ('attention', 1),
 ('delegates', 1),
 ('lgbt', 1),
 ('job', 1),
 ('address', 1),
 ('ask', 1),
 ('debt', 1),
 ('by', 1),
 ('care', 1),
 ('great', 1),
 ('defense', 1),
 ('libya', 1),
 ('receive', 1),
 ('months', 1),
 ('against', 1),
 ('spending', 1),
 ('hussein', 1),
 ('or', 1),
 ('major', 1),
 ('clinton', 1),
 ('1997', 1),
 ('russia', 1),
 ('wall', 1),
 ('legislation', 1),
 ('into', 1),
 ('community', 1),
 ('three', 1),
 ('down', 1),
 ('hook', 1),
 ('ii', 1),
 ('63', 1),
 ('americans', 1),
 ('elementary', 1),
 ('total', 1),
 ('earning', 1),
 ('often', 1),
 ('barack', 1),
 ('raise', 1),
 ('district', 1),
 ('representing', 1),
 ('nine', 1),
 ('reinvestment', 1),
 ('arms', 1),
 ('relations', 1),
 ('nobel', 1),
 ('start', 1),
 ('tell', 1),
 ('convention', 1),
 ('strike', 1),
 ('john', 1),
 ('war', 1),
 ('form', 1),
 ('that', 1),
 ('tax', 1),
 ('sufficient', 1),
 ('republicans', 1),
 ('resulted', 1),
 ('hillary', 1),
 ('taught', 1),
 ('honolulu', 1),
 ('filed', 1),
 ('regained', 1),
 ('july', 1),
 ('hold', 1),
 ('13th', 1),
 ('made', 1),
 ('brk', 1),
 ('1996', 1),
 ('whether', 1),
 ('reelected', 1),
 ('budget', 1),
 ('nations', 1),
 ('recession', 1),
 ('while', 1),
 ('economic', 1),
 ('limit', 1),
 ('policies', 1),
 ('promoted', 1),
 ('called', 1),
 ('supreme', 1),
 ('process', 1),
 ('2000in', 1),
 ('2012obama', 1),
 ('received', 1),
 ('romney', 1),
 ('briefs', 1),
 ('defeated', 1),
 ('general', 1),
 ('urged', 1),
 ('sought', 1),
 ('organizer', 1),
 ('shooting', 1),
 ('increased', 1),
 ('normalize', 1),
 ('lengthy', 1),
 ('court', 1),
 ('recovery', 1),
 ('laden', 1),
 ('laureateduring', 1),
 ('peace', 1),
 ('administration', 1),
 ('1961', 1),
 ('other', 1),
 ('which', 1),
 ('primaries', 1),
 ('sworn', 1),
 ('2007', 1),
 ('columbia', 1),
 ('combat', 1),
 ('islamic', 1),
 ('running', 1),
 ('levels', 1),
 ('two', 1),
 ('included', 1),
 ('repeal', 1),
 ('nomination', 1),
 ('constitutional', 1),
 ('defeating', 1),
 ('treaty', 1),
 ('african', 1),
 ('2008', 1),
 ('consumer', 1),
 ('began', 1),
 ('terms', 1)]

In [8]:
## a second way to sroet 
# first made the dictionray into a two table
obama_word_count_table = obama[['word_count']].stack('word_count',new_column_name=['word','count'])
# sort it 
obama_word_count_table.sort('count',ascending=False)

Columns:
	word	str
	count	int

Rows: 273

Data:
+-------+-------+
|  word | count |
+-------+-------+
|  the  |   40  |
|   in  |   30  |
|  and  |   21  |
|   of  |   18  |
|   to  |   14  |
|  his  |   11  |
| obama |   9   |
|  act  |   8   |
|   he  |   7   |
|   a   |   7   |
+-------+-------+
[273 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

## 3. Compute TF-IDF for the corpus

In [9]:
people['word_count']= gl.text_analytics.count_words(people['text'])
people.head()

Columns:
	URI	str
	name	str
	text	str
	word_count	dict

Rows: 10

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| digby morrell born 10 octo... | {'selection': 1, 'carltons... |
| alfred j lewy aka sandy le... | {'precise': 1, 'thomas': 1... |
| harpdog brown is a singer ... | {'just': 1, 'issued': 1, '... |
| franz rottensteiner born i... | {'all': 1, 'bauforschung':... |
| henry krvits born 30 decem... | {'they': 1, 'gangstergenka... |
| sam henderson born october... | {'currently': 1, 'less': 1... |
| aaron lacrate is an americ... | {'exclusive': 2, 'producer... |
| trevor ferguson aka john f... | {'taxi': 1, 'salon': 1, 'g... |
| grant nelson born 27 april... | {'houston': 1, 'frankie': ... |
| cathy caruth born 1955 is ... | {'phenomenon': 1, 'deboras... |
+-------------------------------+-------------------------------+
[10 rows x 4 columns]

In [10]:
## use the build function in text_analytics 
tfidf = gl.text_analytics.tf_idf(people['word_count'])

In [11]:
people['tfidf']=tfidf
people.head()

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: 10

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| digby morrell born 10 octo... | {'selection': 1, 'carltons... |
| alfred j lewy aka sandy le... | {'precise': 1, 'thomas': 1... |
| harpdog brown is a singer ... | {'just': 1, 'issued': 1, '... |
| franz rottensteiner born i... | {'all': 1, 'bauforschung':... |
| henry krvits born 30 decem... | {'they': 1, 'gangstergenka... |
| sam henderson born october... | {'currently': 1, 'less': 1... |
| aaron lacrate is an americ... | {'exclusive': 2, 'producer... |
| trevor ferguson aka john f... | {'taxi': 1, 'salon': 1, 'g... |
| grant nelson born 27 april... | {'houston': 1, 'frankie': ... |
| cathy caruth born 1955 is ... | {'phenomenon': 1, 'deboras... |
+-------------------------------+-------------------------------+
+-------------------------------+
|             tfidf             |
+-------------------------------+
| {'selection': 3.8365785530... |
| {'precise': 6.443200606955... |
| {'just': 2.700729968710864... |
| {'all': 1.6431112434912472... |
| {'they': 1.899340117819389... |
| {'currently': 1.6370889691... |
| {'exclusive': 10.455187230... |
| {'taxi': 6.052021456094502... |
| {'houston': 3.935505942157... |
| {'phenomenon': 5.750053426... |
+-------------------------------+
[10 rows x 5 columns]

## 4. Examine tf-idf

In [12]:
## take a look at obama
obama = people[people['name']=='Barack Obama']
obama[['tfidf']].stack('tfidf',new_column_name=['word','tfidf']).sort('tfidf',ascending=False)

Columns:
	word	str
	tfidf	float

Rows: 273

Data:
+-------------+---------------+
|     word    |     tfidf     |
+-------------+---------------+
|    obama    | 43.2956530721 |
|     act     |  27.678222623 |
|     iraq    |  17.747378588 |
|   control   | 14.8870608452 |
|     law     | 14.7229357618 |
|   ordered   | 14.5333739509 |
|   military  | 13.1159327785 |
| involvement | 12.7843852412 |
|   response  | 12.7843852412 |
|  democratic | 12.4106886973 |
+-------------+---------------+
[273 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

## 5. Manually compute distances between a few people

In [13]:
clinton = people[people['name']=='Bill Clinton']
backham = people[people['name']=='David Beckham']

#### Is obama closer to clinton or backham

In [14]:
print 'Obama - Clinton distance: ',gl.distances.cosine(obama['tfidf'][0],clinton['tfidf'][0])
print 'Obama - Backham distance: ',gl.distances.cosine(obama['tfidf'][0],backham['tfidf'][0])
print 'Obama is closer to Clinton'

Obama - Clinton distance:  0.833985493688
Obama - Backham distance:  0.979130584475
Obama is closer to Clinton

## 6. Build a nearest neighbor model for document retrieval

In [15]:
## create the nearest neighbor model 
knn_model = gl.nearest_neighbors.create(people,features=['tfidf'],label='name')

Starting brute force nearest neighbors model training.

## 7. Applying the nearest neighbor model for retrieval

#### Who is closest to Obama?

In [16]:
knn_model.query(obama)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 34.509ms     |

| 0            | 22440   | 37.9882     | 1.16s        |

| 0            | 43781   | 74.1159     | 2.16s        |

| Done         |         | 100         | 2.97s        |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+----------------+------+
| query_label | reference_label |    distance    | rank |
+-------------+-----------------+----------------+------+
|      0      |   Barack Obama  |      0.0       |  1   |
|      0      |    Joe Biden    | 0.794117647059 |  2   |
|      0      |  Joe Lieberman  | 0.794685990338 |  3   |
|      0      |   Kelly Ayotte  | 0.811989100817 |  4   |
|      0      |   Bill Clinton  | 0.813852813853 |  5   |
+-------------+-----------------+----------------+------+
[5 rows x 4 columns]

#### Other examples of document retrival

In [17]:
swift = people[people['name']== 'Taylor Swift']
knn_model.query(swift)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 90.481ms     |

| 0            | 21715   | 36.7608     | 1.09s        |

| 0            | 42519   | 71.9795     | 2.09s        |

| Done         |         | 100         | 2.93s        |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+----------------+------+
| query_label | reference_label  |    distance    | rank |
+-------------+------------------+----------------+------+
|      0      |   Taylor Swift   |      0.0       |  1   |
|      0      | Carrie Underwood | 0.76231884058  |  2   |
|      0      |   Alicia Keys    | 0.764705882353 |  3   |
|      0      |  Jordin Sparks   | 0.769633507853 |  4   |
|      0      |   Leona Lewis    | 0.776119402985 |  5   |
+-------------+------------------+----------------+------+
[5 rows x 4 columns]

In [18]:
jolie = people[people['name']== 'Angelina Jolie']
knn_model.query(jolie)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 11.585ms     |

| 0            | 31587   | 53.4729     | 1.16s        |

| 0            | 58313   | 98.7168     | 2.02s        |

| Done         |         | 100         | 2.17s        |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------+----------------+------+
| query_label |  reference_label   |    distance    | rank |
+-------------+--------------------+----------------+------+
|      0      |   Angelina Jolie   |      0.0       |  1   |
|      0      |     Brad Pitt      | 0.784023668639 |  2   |
|      0      |   Julianne Moore   | 0.795857988166 |  3   |
|      0      | Billy Bob Thornton | 0.803069053708 |  4   |
|      0      |   George Clooney   |   0.8046875    |  5   |
+-------------+--------------------+----------------+------+
[5 rows x 4 columns]

In [19]:
arnold = people[people['name']== 'Arnold Schwarzenegger']
knn_model.query(arnold)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 118.825ms    |

| 0            | 28402   | 48.0811     | 1.12s        |

| 0            | 57751   | 97.7654     | 2.12s        |

| Done         |         | 100         | 2.14s        |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------------+----------------+------+
| query_label |    reference_label    |    distance    | rank |
+-------------+-----------------------+----------------+------+
|      0      | Arnold Schwarzenegger |      0.0       |  1   |
|      0      |     Jesse Ventura     | 0.818918918919 |  2   |
|      0      |     John Kitzhaber    | 0.824615384615 |  3   |
|      0      |     Lincoln Chafee    | 0.833876221498 |  4   |
|      0      |      Anthony Foxx     | 0.833910034602 |  5   |
+-------------+-----------------------+----------------+------+
[5 rows x 4 columns]

In [ ]:
### clear memory 
arnold = None
jolie = None
swift = None
clinton = None
backham = None
knn_model = None

# Exercise

### 1. Compare top words according to word counts to TF-IDF

In [20]:
## look a the person Elton John
john = people[people['name']== 'Elton John']

In [21]:
## top three words for him 
john[['word_count']].stack('word_count',new_column_name=['word','count']).sort('count',ascending=False)

Columns:
	word	str
	count	int

Rows: 255

Data:
+-------+-------+
|  word | count |
+-------+-------+
|  the  |   27  |
|   in  |   18  |
|  and  |   15  |
|   of  |   13  |
|   a   |   10  |
|  has  |   9   |
|  john |   7   |
|   he  |   7   |
|   on  |   6   |
| award |   5   |
+-------+-------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [22]:
## top three words by tfidf
john[['tfidf']].stack('tfidf',new_column_name=['word','tfidf']).sort('tfidf',ascending=False)

Columns:
	word	str
	tfidf	float

Rows: 255

Data:
+---------------+---------------+
|      word     |     tfidf     |
+---------------+---------------+
|    furnish    |  18.38947184  |
|     elton     |  17.48232027  |
|   billboard   | 17.3036809575 |
|      john     | 13.9393127924 |
|  songwriters  |  11.250406447 |
| tonightcandle | 10.9864953892 |
|  overallelton | 10.9864953892 |
|    19702000   | 10.2933482087 |
|   fivedecade  | 10.2933482087 |
|      aids     |  10.262846934 |
+---------------+---------------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

### 2. Measuring distance

In [23]:
v_beckham = people[people['name']== 'Victoria Beckham']
mccartney = people[people['name']== 'Paul McCartney']

In [ ]:
print 'john - victoria beckham distance: ',gl.distances.cosine(john['tfidf'][0],v_beckham['tfidf'][0])
print 'john - mccartney distance: ',gl.distances.cosine(john['tfidf'][0],mccartney['tfidf'][0])
print 'John is closer to McCartney'

john - victoria beckham distance:  0.956700637666
john - mccartney distance:  0.825031002922
John is closer to McCartney

### 3.Building nearest neighbors models with different input features and distance metric

In [ ]:
knn_model_word_count = gl.nearest_neighbors.create(people,features=['word_count'],label='name',distance='cosine')

Starting brute force nearest neighbors model training.

In [ ]:
knn_model_tfidf = gl.nearest_neighbors.create(people,features=['tfidf'],label='name',distance='cosine')

Starting brute force nearest neighbors model training.

In [ ]:
## compare two 
print knn_model_word_count.query(john)
print knn_model_tfidf.query(john)

something